<template lang="pug">
	#account-profile.page
		.banner.text-white
			.banner-bg
			.banner-content
				.row
					.col-md-5.col-xl-4.mx-auto
						.row.mb-4
							.col.d-flex.align-items-center.justify-content-center
								.profile-action(href="javascript:")
									span.icon(v-feather="'mail'")
							.col-auto
								.avatar.bg-secondary.rounded-pill
							.col.d-flex.align-items-center.justify-content-center
								.profile-action(href="javascript:")
									span.icon(v-feather="'user-check'")

						.row.mb-4
							.col-md-6.d-flex.align-items-center.justify-content-center.flex-column
								h1.font-weight-1 Profile_x
								span @samurai x
							.col-md-6.d-flex.align-items-center.justify-content-center.flex-column
								h1.font-weight-1
									| 120K
									small.font-size-small views
									img(:src="verified_badge", style="margin-top: -30px")

						.profile-bio.text-center.mb-5
							| I’m samurai x. Samurai by day, designer by night.
							| Hope you find inspiratio...see more

						.row.justify-content-between
							.col-auto.text-center
								h1.line-height-0-7 50
								p.font-size-small Posts
							.col-auto.text-center
								h1.line-height-0-7 11K
								p.font-size-small Followers
							.col-auto.text-center
								h1.line-height-0-7 200
								p.font-size-small Following
							.col-auto.text-center
								h1.line-height-0-7 5K
								p.font-size-small Likes
			.profile-website samuraix.com
			.profile-location
				span(v-feather="'map-pin'")
				| Lagos, Nigeria
			.profile-social
				span(v-feather="'instagram'")
		.page-container.pt-5
			.post-group
				.row
					template(v-for="(post, n) in posts")
						div(class="col-md-3")
							.post
								.post-body
									.post-image
										img(:src="post.img")
									.post-title {{ post.title }}
								.post-footer
									a.post-meta(href="javascript:")
										.post-meta-icon(v-feather="'eye'")
										.post-meta-value {{ post.views }}
									a.post-meta(href="javascript:")
										.post-meta-icon(v-feather="'heart'")
										.post-meta-value {{ post.likes }}
									a.post-meta(href="javascript:")
										.post-meta-icon(v-feather="'message-square'")
										.post-meta-value {{ post.comments }}
									a.post-meta(href="javascript:")
										.post-meta-icon(v-feather="'share'")
										.post-meta-value {{ post.shares }}
</template>

<script>
	export default {
		data() {
			return {
				posts: [
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/in-out-2.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/ice-asher-monroe.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'Road blood surreal',
						author: '@Weirdcreative',
						img: require('@/assets/img/Ashher-monro.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/the-willoubys.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/astrohead.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/in-out-2.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/ice-asher-monroe.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'Road blood surreal',
						author: '@Weirdcreative',
						img: require('@/assets/img/Ashher-monro.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/the-willoubys.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/astrohead.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/in-out-2.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/ice-asher-monroe.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'Road blood surreal',
						author: '@Weirdcreative',
						img: require('@/assets/img/Ashher-monro.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/the-willoubys.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/astrohead.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/in-out-2.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
				],
				verified_badge: require('@/assets/svg/verified-badge.svg')
			}
		}
	}
</script>