<template lang="pug">
	#account-update.page
		.banner.text-white
			.banner-bg
			.banner-content
				.row
					.col-md-5.col-xl-4.mx-auto
						.row.mb-4
							.col-auto.mx-auto.text-center
								.avatar.bg-secondary.rounded-pill.mb-4
								button.btn.btn-white(type="button") Upload Avatar

		.page-container.pt-5
			.row.page-section
				.col-md-6.mx-auto
					h1.font-roboto.font-weight-900 Profile
					.op-3.mb-4
						div Your username, name, bio, links appear on your public Weicreo profile
						div Your email address remains private

					form(submit.prevent)
						.form-group
							input.form-control.text-right(placeholder="Username")
						.form-group
							input.form-control.text-right(placeholder="Email")
						.form-group
							input.form-control.text-right(placeholder="Set new password")
						.form-group
							input.form-control.text-right(placeholder="Name")
						.form-group
							input.form-control.text-right(placeholder="Location")
						.form-group
							textarea.form-control.text-right(placeholder="Bio")
						.form-group
							input.form-control.text-right(placeholder="Links")
						.form-group
							input.form-control.text-right(placeholder="Social media handle(s)")
						.form-group.text-right
							button.btn.btn-dark(type="submit") View profile

			
</template>

<script>
	export default {
		data() {
			return {
				posts: [
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/in-out-2.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: '',
						author: '@Weirdcreative',
						img: require('@/assets/img/ice-asher-monroe.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'Road blood surreal',
						author: '@Weirdcreative',
						img: require('@/assets/img/Ashher-monro.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/the-willoubys.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/astrohead.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/in-out-2.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: '',
						author: '@Weirdcreative',
						img: require('@/assets/img/ice-asher-monroe.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'Road blood surreal',
						author: '@Weirdcreative',
						img: require('@/assets/img/Ashher-monro.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/the-willoubys.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/astrohead.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/in-out-2.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: '',
						author: '@Weirdcreative',
						img: require('@/assets/img/ice-asher-monroe.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'Road blood surreal',
						author: '@Weirdcreative',
						img: require('@/assets/img/Ashher-monro.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/the-willoubys.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'A caption is here',
						author: '@Weirdcreative',
						img: require('@/assets/img/astrohead.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
				],
				verified_badge: require('@/assets/svg/verified-badge.svg')
			}
		}
	}
</script>