<template lang="pug">
    .page-section

        template(v-for="(entry, n) in entries")
            .mb-5
                .d-flex.flex-row.align-items-center.mb-3
                    .avatar.avatar-md.rounded-pill.d-inline-block.bg-secondary.mr-3
                    div
                        h5.mb-0.line-height-1 {{ entry.name }}
                        div.op-3 @{{ entry.username }}
                .row
                    .col-auto
                        .square-xl.bg-secondary
                    .col
                        h4.mb-4 {{ entry.title }}
                        p.mb-4(v-html="entry.description")
                        div
                            button.btn.btn-dark.mr-4 Assign Winner
                            a.text-dark.small(href="#!") Send Message

</template>

<script>
    export default {
        data() {
            return {
                entries: [
                    {
                        name: 'User 001',
                        username: 'username',
                        title: 'About this Submission',
                        description: 'An intelligence officer assembles a team of imprisoned super-villains to execute dangerous black ops missions. Meanwhile, the homicidal Joker launches a diabolical agenda of his own.',
                    },
                    {
                        name: 'User 001',
                        username: 'username',
                        title: 'About this Submission',
                        description: 'An intelligence officer assembles a team of imprisoned super-villains to execute dangerous black ops missions. Meanwhile, the homicidal Joker launches a diabolical agenda of his own.',
                    },
                    {
                        name: 'User 001',
                        username: 'username',
                        title: 'About this Submission',
                        description: 'An intelligence officer assembles a team of imprisoned super-villains to execute dangerous black ops missions. Meanwhile, the homicidal Joker launches a diabolical agenda of his own.',
                    },
                ]
            }
        }
    }
</script>