<template lang="pug">
    form(@submit.prevent="")

        .form-group
            label Add Competition poster
            .square-lg.bg-secondary

        .form-group
            label Name of competition
            input.form-control

        .form-group
            label Type of competition
            input.form-control

        .form-group
            label Competition Description/Details
            textarea.form-control

        .form-group
            label Competition Rules
            textarea.form-control

        .form-group
            label Competition Limit
            div
                select.custom-select.w-auto
                    template(v-for="(i, n) in limit")
                        option(:key="n") {{ i }}
        .form-group
            label Competition Start Date
            div
                select.custom-select.w-auto.mr-3
                    template(v-for="(day, n) in start_days")
                        option(:key="n") {{ day }}
                select.custom-select.w-auto.mr-3(v-model="form.data.competition_start_month.value")
                    template(v-for="(month, n) in months")
                        option(:value="month.value", :key="n") {{ month.title }}
                select.custom-select.w-auto.mr-3
                    template(v-for="(year, n) in years")
                        option(:key="n") {{ year }}
        .form-group
            label Competition End Date
            div
                select.custom-select.w-auto.mr-3
                    template(v-for="(day, n) in end_days")
                        option(:key="n") {{ day }}
                select.custom-select.w-auto.mr-3(v-model="form.data.competition_end_month.value")
                    template(v-for="(month, n) in months")
                        option(:value="month.value", :key="n") {{ month.title }}
                select.custom-select.w-auto.mr-3
                    template(v-for="(year, n) in years")
                        option(:key="n") {{ year }}

</template>

<script>
    const month = (new Date).getMonth() + 1;

    export default {
        data() {
            return {
                form: this.$options.basicForm([
                    {name: 'competition_start_month', value: month},
                    {name: 'competition_end_month', value: month+1},
                ]),
            }
        },
        computed: {
            limit() {
                return 5
            },
            start_days() {
                switch (this.form.data.competition_start_month.value) {
                    case 4:
                    case 6:
                    case 9:
                    case 11:
                        return 30;
                    case 2:
                        return 28;
                    default:
                        return 31;
                }
            },
            end_days() {
                switch (this.form.data.competition_end_month.value) {
                    case 4:
                    case 6:
                    case 9:
                    case 11:
                        return 30;
                    case 2:
                        return 28;
                    default:
                        return 31;
                }
            },
            months() {
                return [
                    {title: 'january', value: 1},
                    {title: 'february', value: 2},
                    {title: 'march', value: 3},
                    {title: 'april', value: 4},
                    {title: 'may', value: 5},
                    {title: 'june', value: 6},
                    {title: 'july', value: 7},
                    {title: 'august', value: 8},
                    {title: 'september', value: 9},
                    {title: 'october', value: 10},
                    {title: 'november', value: 11},
                    {title: 'december', value: 12},
                ];
            },
            years() {
                const max_duration = 5;
                const years = [];

                for (var i = 0; i < max_duration; i++) {
                    let start = (new Date());

                    start.setFullYear(start.getFullYear() + i);

                    years.push(start.getFullYear());

                }

                return years;
            }
        }
    }
</script>