<template lang="pug">
    #dashboard.page
        .container
            ul.dashboard-nav.nav.flex-row.mb-5
                li.nav-item
                    router-link.nav-link(:to="{ name: 'dashboard' }") Dashboard
                li.nav-item
                    router-link.nav-link(:to="{ name: 'dashboard-users' }") Manage users
                li.nav-item
                    router-link.nav-link(:to="{ name: 'dashboard-competitions' }") Competitions

            .page-section
                    
                .navigation-tabs.mb-5
                    ul.nav.nav-tabs.justify-content-center
                        li.nav-item
                            a.nav-link(href="#!", @click.prevent="setTab('create')", :class="{active: tab === 'create'}") Create competition
                        li.nav-item
                            a.nav-link(href="#!", @click.prevent="setTab('manage')", :class="{active: tab === 'manage'}") Manage competitions
                        li.nav-item
                            a.nav-link(href="#!", @click.prevent="setTab('assign')", :class="{active: tab === 'assign'}") Assign competition winner

                component(:is="tab")


            
</template>

<script>
    export default {
        components: {
            create: () => import('./Create.vue'),
            manage: () => import('./Manage.vue'),
            assign: () => import('./Assign.vue'),
        },
        data() {
            return {
                tab: 'create',
            }
        },
        methods: {
            setTab(tab) {
                this.tab = tab;
            }
        }
    }
</script>