<template lang="pug">
    .brand-group
        .row
            template(v-for="(brand, n) in brands")
                .col-md-6
                    .brand(style="min-height: 400px")
                        .brand-image
                            img(:src="brand.img")
                        .brand-body
                            .brand-name {{ brand.name }}
                            .brand-title {{ brand.title }}
                            .brand-status.text-success
                                span.square.square-xs.rounded-pill.mr-2(style="background-color: #00ED34;")
                                span.text {{ brand.status }}
                            .brand-expiry {{ brand.expiry }}
                            .brand-description {{ brand.description }}
                        .brand-footer
                            a.text-dark.mr-4(href="#!" @click.prevent) Edit Competition
                            a.text-danger(href="#!" @click.prevent) Delete Competition

</template>

<script>
    export default {
        data() {
            return {
                brands: [
                    {
                        img: require('@/assets/img/brands/black-widow.png'),
                        name: 'Black Widow',
                        title: 'Marvel Studios',
                        status: 'Open for submissions',
                        expiry: '30 Days remaining',
                        description: 'At birth the Black Widow (aka Natasha Romanova) is given to the KGB, which grooms her to become its ultimate operative. When the U.S.S.R. breaks up, the government tries to kill her as the action moves to present-day New York, where she is a freelance operative.'
                    },
                    {
                        img: require('@/assets/img/brands/maleficent.png'),
                        name: 'Maleficent',
                        title: 'Marvel Studios',
                        status: 'Open for submissions',
                        expiry: '30 Days remaining',
                        description: 'At birth the Black Widow (aka Natasha Romanova) is given to the KGB, which grooms her to become its ultimate operative. When the U.S.S.R. breaks up, the government tries to kill her as the action moves to present-day New York, where she is a freelance operative.'
                    },
                    {
                        img: require('@/assets/img/brands/007-no-time-to-die.png'),
                        name: '007 No Time To Die',
                        title: 'Marvel Studios',
                        status: 'Open for submissions',
                        expiry: '30 Days remaining',
                        description: 'At birth the Black Widow (aka Natasha Romanova) is given to the KGB, which grooms her to become its ultimate operative. When the U.S.S.R. breaks up, the government tries to kill her as the action moves to present-day New York, where she is a freelance operative.'
                    },
                    {
                        img: require('@/assets/img/brands/the-kings-man-3.png'),
                        name: 'The King’s Man III',
                        title: 'Marvel Studios',
                        status: 'Open for submissions',
                        expiry: '30 Days remaining',
                        description: 'At birth the Black Widow (aka Natasha Romanova) is given to the KGB, which grooms her to become its ultimate operative. When the U.S.S.R. breaks up, the government tries to kill her as the action moves to present-day New York, where she is a freelance operative.'
                    },
                ]
            }
        }
    }
</script>