<template lang="pug">
	#app-pages
		header
			navbar
		router-view
		bottom-menu
</template>

<script>
	export default {
		components: {
			Navbar: require('../../components/Navbar').default,
			BottomMenu: require('../../components/BottomMenu').default
		}
	}
</script>