<template lang="pug">
	#discover.page
		.page-container
			.discover-gallery
				.row
					template(v-for="(item, n) in categories")
						.col-6.col-md-3
							.discover-gallery-item(:key="n")
								img.discover-gallery-item-image(:src="item.img")
								.discover-gallery-item-content
									.discover-gallery-item-caption {{ item.title }}
									router-link.discover-gallery-item-button.btn.btn-white.rounded.inline-flex(:to="{name: 'discover-single', params: { category: item.slug }}")
										| Subscribe
										span.ml-2 +
</template>

<script>
	export default {
		data() {
			return {
				categories: [
					{title: 'Art', img: require('@/assets/img/categories/art.png'), slug: 'art'},
					{title: 'Photoshop', img: require('@/assets/img/categories/photoshop.png'), slug: 'photoshop'},
					{title: 'Fashion', img: require('@/assets/img/categories/fashion.png'), slug: 'fashion'},
					{title: 'Design', img: require('@/assets/img/categories/design.png'), slug: 'design'},
					{title: 'Illustration', img: require('@/assets/img/categories/illustration.png'), slug: 'illustration'},
					{title: '3D', img: require('@/assets/img/categories/3d.png'), slug: '3d'},
					{title: 'Photography', img: require('@/assets/img/categories/photography.png'), slug: 'photography'},
					{title: 'Cover Art', img: require('@/assets/img/categories/cover-art.png'), slug: 'cover-art'},
					{title: 'Culture', img: require('@/assets/img/categories/culture.png'), slug: 'culture'},
					{title: 'Astrology', img: require('@/assets/img/categories/astrology.png'), slug: 'astrology'},
					{title: '420', img: require('@/assets/img/categories/420.png'), slug: '420'},
					{title: 'Travel', img: require('@/assets/img/categories/travel.png'), slug: 'travel'},
				]
			}
		}
	}
</script>