<template lang="pug">
	#people-page.page
		.page-container
			.categories.mb-4
				template(v-for="(item, n) in categories")
					router-link.category(:key="n", :to="{name: 'discover-single', params: { category: item.slug }}")
						img.category-image(:src="item.img")
						.category-title.text-uppercase {{ item.title }}

			.main-content

				.navigation-tabs.mb-5
					ul.nav.nav-tabs.justify-content-center
						li.nav-item
							a.nav-link.active Featured
						li.nav-item
							a.nav-link Recent
						li.nav-item
							a.nav-link Freebies

				.text-center.mb-5
					h1.text-uppercase.font-helvetica.font-black {{ category.title }}
					.row
						.col-md-3.col-xl-2.mx-auto
							p.font-weight-normal Discover creators from our {{ category.title.toLowerCase() }} category
							button.btn.btn-dark.rounded-pill Subscribe

				.post-group
					.row
						template(v-for="(post, n) in posts")
							.col-12.col-md-3
								.post
									.post-header
										.post-header-avatar
										.post-header-text {{ post.author }}
										a.post-header-icon.mr-3
											span.icon(v-feather="'share'")
										a.post-header-icon
											span.icon(v-feather="'plus'")
									.post-body
										.post-image
											img(:src="post.img")
										.post-title {{ post.title }}
									.post-footer
										a.post-meta(href="javascript:")
											.post-meta-icon(v-feather="'eye'")
											.post-meta-value {{ post.views }}
										a.post-meta(href="javascript:")
											.post-meta-icon(v-feather="'heart'")
											.post-meta-value {{ post.likes }}
										a.post-meta(href="javascript:")
											.post-meta-icon(v-feather="'message-square'")
											.post-meta-value {{ post.comments }}
										a.post-meta.post-meta-dark(href="javascript:")
											.post-meta-icon(v-feather="'share'")
											.post-meta-value Repost

</template>

<script>
	export default {
		data() {
			return {
				categories: [
					{title: 'Art', img: require('@/assets/img/categories/art.png'), slug: 'art'},
					{title: 'Photoshop', img: require('@/assets/img/categories/photoshop.png'), slug: 'photoshop'},
					{title: 'Fashion', img: require('@/assets/img/categories/fashion.png'), slug: 'fashion'},
					{title: 'Design', img: require('@/assets/img/categories/design.png'), slug: 'design'},
					{title: 'Illustration', img: require('@/assets/img/categories/illustration.png'), slug: 'illustration'},
					{title: '3D', img: require('@/assets/img/categories/3d.png'), slug: '3d'},
					{title: 'Photography', img: require('@/assets/img/categories/photography.png'), slug: 'photography'},
					{title: 'Cover Art', img: require('@/assets/img/categories/cover-art.png'), slug: 'cover-art'},
					{title: 'Culture', img: require('@/assets/img/categories/culture.png'), slug: 'culture'},
					{title: 'Astrology', img: require('@/assets/img/categories/astrology.png'), slug: 'astrology'},
					{title: '420', img: require('@/assets/img/categories/420.png'), slug: '420'},
					{title: 'Travel', img: require('@/assets/img/categories/travel.png'), slug: 'travel'},
				],
				posts: [
					{
						title: 'Pegasus ride surreal',
						author: '@Weirdcreative',
						img: require('@/assets/img/floating-boat.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'Pegasus ride surreal',
						author: '@Weirdcreative',
						img: require('@/assets/img/floating-boat.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'Pegasus ride surreal',
						author: '@Weirdcreative',
						img: require('@/assets/img/floating-boat.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'Pegasus ride surreal',
						author: '@Weirdcreative',
						img: require('@/assets/img/floating-boat.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'Pegasus ride surreal',
						author: '@Weirdcreative',
						img: require('@/assets/img/floating-boat.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'Pegasus ride surreal',
						author: '@Weirdcreative',
						img: require('@/assets/img/floating-boat.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'Pegasus ride surreal',
						author: '@Weirdcreative',
						img: require('@/assets/img/floating-boat.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'Pegasus ride surreal',
						author: '@Weirdcreative',
						img: require('@/assets/img/floating-boat.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'Pegasus ride surreal',
						author: '@Weirdcreative',
						img: require('@/assets/img/floating-boat.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'Pegasus ride surreal',
						author: '@Weirdcreative',
						img: require('@/assets/img/floating-boat.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'Pegasus ride surreal',
						author: '@Weirdcreative',
						img: require('@/assets/img/floating-boat.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
					{
						title: 'Pegasus ride surreal',
						author: '@Weirdcreative',
						img: require('@/assets/img/floating-boat.png'),
						views: '22K',
						likes: '996',
						comments: '300',
						shares: '100'
					},
				]
			}
		},
		computed: {
			category() {
				const slug = this.$route.params.category;

				return this.categories.find( category => category.slug === slug );
			}
		}
	}
</script>