<template lang="pug">
    #posts-page.page
        .page-container
            //- h1.font-weight-black.font-helvetica EDIT POST
            .row
                .col-md-8
                    dropzone.mb-3(accept=".JPG, .PNG, .GIF", v-model="form.data.image.value")
                .col-md-4
                    form(@submit.prevent)
                        .form-group
                            label.font-bold.font-helvetica Change title
                            input.form-control(placeholder="Title", v-model="form.data.title.value")

                        .form-group
                            label.font-bold.font-helvetica Change category
                            select.custom-select(placeholder="Category", v-model="form.data.category.value")
                                option(value="") Select Category
                                option(value="Art") Art
                                option(value="Photoshop") Photoshop
                                option(value="Fashion") Fashion
                                option(value="Design") Design
                                option(value="Illustration") Illustration
                                option(value="3D") 3D
                                option(value="Photography") Photography
                                option(value="Cover Art") Cover Art
                                option(value="Culture") Culture
                                option(value="Astrology") Astrology
                                option(value="420") 420
                                option(value="Travel") Travel

                        .form-group
                            label.font-bold.font-helvetica Add/Remove tags
                            custom-tags(v-model="form.data.tags.value")

                        .form-group
                            label.font-bold.font-helvetica Change description
                            textarea.form-control(placeholder="Description",  v-model="form.data.description.value")

                        .form-group
                            .custom-control.custom-checkbox
                                input.custom-control-input#comments(type="checkbox")
                                label.custom-control-label(for="comments") Close comments

                        .form-group
                            button.btn(type="submit", :class="btnStyle") Create Post
</template>

<script>
    export default {
        data() {
            return {
                form: this.$options.basicForm([
                    { name: 'title', value: '' },
                    { name: 'category', value: '' },
                    { name: 'description', value: '' },
                    { name: 'image', value: null },
                    { name: 'tags', value: [] },
                ]),
            }
        },
    }
</script>