<template lang="pug">
    #posts-page.page
        .page-container
            h1.font-weight-black.font-helvetica EDIT POST
            .row
                .col-md-8
                    dropzone.mb-3(accept=".JPG, .PNG, .GIF", v-model="form.data.image.value", :preview="form.preview")

                    button.btn(type="button", :class="btnStyle") Delete Post
                .col-md-4
                    form(@submit.prevent)
                        .form-group
                            label.font-bold.font-helvetica Change title
                            input.form-control(placeholder="Title", v-model="form.data.title.value")

                        .form-group
                            label.font-bold.font-helvetica Change category
                            select.custom-select(placeholder="Category", v-model="form.data.category.value")
                                option Select Category
                                option Art
                                option Photoshop
                                option Fashion
                                option Design
                                option Illustration
                                option 3D
                                option Photography
                                option Cover Art
                                option Culture
                                option Astrology
                                option 420
                                option Travel

                        .form-group
                            label.font-bold.font-helvetica Add/Remove tags
                            custom-tags(v-model="form.data.tags.value")

                        .form-group
                            label.font-bold.font-helvetica Change description
                            textarea.form-control(placeholder="Description",  v-model="form.data.description.value")

                        .form-group
                            .custom-control.custom-checkbox
                                input.custom-control-input#comments(type="checkbox")
                                label.custom-control-label(for="comments") Close comments

                        .form-group
                            button.btn(type="submit", :class="btnStyle") Update Post
</template>

<script>
    export default {
        data() {
            return {
                form: this.$options.basicForm([
                    { name: 'title', value: 'Nike Illustration' },
                    { name: 'category', value: 'Illustration' },
                    { name: 'description', value: 'This is a dope blue yellow illustration of a Nike guy with a skateboard.' },
                    { name: 'image', value: null },
                    {
                        name: 'tags',
                        value: [
                            'Nike', 'Illustration', 'Skateboard'
                        ]
                    },
                ], { preview: require('@/assets/img/nike-illustration.png') }),
            }
        },
    }
</script>