<template lang="pug">
    #dashboard.page
        .container
            ul.dashboard-nav.nav.flex-row.mb-5
                li.nav-item
                    router-link.nav-link(:to="{ name: 'dashboard' }") Dashboard
                li.nav-item
                    router-link.nav-link(:to="{ name: 'dashboard-users' }") Manage users
                li.nav-item
                    router-link.nav-link(:to="{ name: 'dashboard-competitions' }") Competitions

            .page-section
                template(v-for="(user, n) in users")
                    .mb-5.pb-5.border-bottom.border-dark(:key="n")
                        .row
                            .col-auto
                                .square-lg.bg-secondary.rounded-pill
                            .col
                                h1.line-height-1 {{ user.name }}
                                h5 @{{ user.username }}
                                div.mb-4
                                    .border-right.border-dark.pr-3.mr-3.d-inline-block.line-height-1
                                        span.op-3 {{ user.views }} views
                                    .border-right.border-dark.pr-3.mr-3.d-inline-block.line-height-1
                                        span.op-3 {{ user.views }} views
                                    .pr-3.mr-3.d-inline-block.line-height-1
                                        span.op-3 {{ user.views }} views
                                div
                                    span.cursor-pointer.mr-4 Select user
                                    button.btn.btn-dark(type="button") Delete user

</template>

<script>
    export default {
        data() {
            return {
                users: [
                    {
                        name: 'User 01',
                        username: 'samurai_x',
                        views: '120k',
                        followers: '50k',
                        following: '200',
                    },
                    {
                        name: 'User 01',
                        username: 'samurai_x',
                        views: '120k',
                        followers: '50k',
                        following: '200',
                    },
                    {
                        name: 'User 01',
                        username: 'samurai_x',
                        views: '120k',
                        followers: '50k',
                        following: '200',
                    },
                    {
                        name: 'User 01',
                        username: 'samurai_x',
                        views: '120k',
                        followers: '50k',
                        following: '200',
                    },
                    {
                        name: 'User 01',
                        username: 'samurai_x',
                        views: '120k',
                        followers: '50k',
                        following: '200',
                    },
                ]
            }
        }
    }
</script>
