<template lang="pug">
    #e-commerce.page
        .page-container

            .navigation-tabs.mb-5
                ul.nav.nav-tabs.justify-content-center
                    li.nav-item
                        a.nav-link.active All
                    li.nav-item
                        a.nav-link Artifacts
                    li.nav-item
                        a.nav-link Print

            .text-center.mb-4
                h1.font-helvetica.font-weight-900 COP THAT

            .shop-item-group
                .row
                    template(v-for="(item, n) in items")
                        .col-md-4
                            .shop-item
                                .shop-item-image
                                    img(:src="item.img")
                                .shop-item-body
                                    .shop-item-name {{ item.name }}
                                    .shop-item-price ${{ item.price }}
</template>

<script>
    export default {
        data() {
            return {
                items: [
                    {name: 'Planetary Abduction', price: '30', img: require('@/assets/img/tabs.png')},
                    {name: 'Planetary Abduction', price: '30', img: require('@/assets/img/floating-boat.png')},
                    {name: 'Planetary Abduction', price: '30', img: require('@/assets/img/ice-asher-monroe.png')},
                    {name: 'Planetary Abduction', price: '30', img: require('@/assets/img/tabs.png')},
                    {name: 'Planetary Abduction', price: '30', img: require('@/assets/img/floating-boat.png')},
                    {name: 'Planetary Abduction', price: '30', img: require('@/assets/img/ice-asher-monroe.png')},
                ]
            }
        }
    }
</script>