<template lang="pug">
	nav.navbar.bottom-navbar.navbar-expand-md(:class="navbarClass", v-if="shouldShow")
		.navbar-collapse
			.nav.navbar-nav
				li.nav-item: router-link(:to="{name: 'about'}").nav-link About
				li.nav-item: router-link(:to="{name: 'terms'}").nav-link Terms
				li.nav-item: router-link(:to="{name: 'privacy'}").nav-link Privacy
				li.nav-item: router-link(:to="{name: 'store'}").nav-link Shop
				li.nav-item: router-link(:to="{name: 'contact'}").nav-link Contact
</template>

<script>
    export default {
        data() {
            return {}
        },
        computed: {
            shouldShow() {
                return /*!this.$route.name.match(/home/i) &&*/ !this.isSmallScreen;
            },
            isHome () {
                return this.$route.name.match(/^home$/i);
            },
            isFixed() {
                return !this.$route.name.match(/^account/i);
            },
            navbarClass() {
                return `${this.style == 'dark' ? 'navbar-dark bg-dark' : 'navbar-light bg-white'} ${this.isFixed ? 'fixed-bottom' : ''}`;
            }
        }
    }
</script>