<template lang="pug">
    .custom-tags(@click.prevent="click")
        .tags
            template(v-for="(tag, n) in tags")
                .tag(:class="tagStyle", @click.prevent="removeTag(n)")
                    | {{ tag }}
                    span.ml-2(style="font-size: 1rem; line-height: 1px; margin-top: 2px") ×
        input.custom-tags-input(placeholder="Tags", v-model="tag", :size="(tag.length || 5) + 2", @keyup="keyUp", @keypress="keyPress", ref="input")
</template>

<script>
    export default {
        model: {
            event: 'change',
            prop: 'value'
        },
        props: {
            value: {
                type: Array
            }
        },
        data() {
            return {
                tags: [],
                tag: ''
            }
        },
        mounted() {
            this.copyTags();
        },
        watch: {
            value() {
                this.copyTags();
            }
        },
        methods: {
            change() {
                this.$emit('change', this.tags);
            },
            click() {
                this.$refs.input.focus();
            },
            copyTags() {
                this.tags = this.value;
            },
            keyPress(event) {
                const Console = console;
                Console.log(event);
            },
            keyUp(event) {
                // const Console = console;
                // Console.log(event);

                switch (event.code) {
                    case 'Enter':
                        this.selectTag();
                        break;
                    case 'Backspace':
                        if (this.tag.length == 0) {
                            // this.removeTag(this.tags.length - 1);
                        }
                        break;
                    default:
                        // statements_def
                        break;
                }

            },
            selectTag() {
                const index = this.tags.findIndex(tag => tag.toLowerCase() === this.tag.toLowerCase());

                if (index > -1 || !this.tag.length) {
                    return false;
                }

                this.tags.push(this.tag);
                this.tag = '';

                this.change();
            },
            removeTag(index) {
                this.tags = this.tags.filter((tag, i) => i !== index);

                this.change();
            }
        }
    }
</script>