<template lang="pug">
    .dropzone
        template(v-if="file || display")
            img.dropzone-preview(:src="display")
        template(v-else)
            .dropzone-content
                h6.mb-3 Drop image(s) here
                .mb-5.text-muted {{ accept.toUpperCase() }}
                img(:src="upload", height="150")
                h4
                    | or 
                    span.op-5 browse 
                    | to choose a file
                small.op-5 (1000 x 1000px or larger recommended)

        input.dropzone-input(type="file", :accept="accept", @change="selectFile")
</template>

<style lang="sass">
    .dropzone
        align-items: center
        background: #F2F2F2
        border-radius: 10px
        color: #222
        cursor: pointer
        display: flex
        flex-flow: column
        justify-content: center
        height: 500px
        position: relative
        overflow: hidden
        width: 100%
        &-input
            cursor: pointer
            height: 100%
            left: 0
            opacity: 0
            position: absolute
            top: 0
            width: 100%
        &-content
            padding: 30px
            text-align: center
            width: 100%
        &-preview
            height: 100%
            object-fit: cover
            object-position: center
            width: 100%
</style>

<script>
    const Console = console;

    export default {
        model: {
            event: 'change',
            prop: 'file'
        },
        props: {
            accept: {
                type: String,
                default: ''
            },
            file: {
                type: [File, String],
                default: () => null
            },
            preview: {
                type: String
            }
        },
        data() {
            return {
                upload: require('@/assets/img/upload.png'),
                display: null
            }
        },
        mounted () {
            if (this.preview) {
                this.display = this.preview;
            }
        },
        methods: {
            selectFile(event) {
                this.display = null;
                // this.file = event.target.files[0];
                const file = event.target.files[0];
                if (file) {
                    Console.log(event.target.files[0]);
                    this.$emit('change', event.target.files[0]);

                    const Reader = new FileReader();
                    Reader.onload = (ev) => {
                        Console.log(ev.target.result)
                        this.display = ev.target.result;
                    }
                    Reader.readAsDataURL(event.target.files[0]);
                }
            }
        }
    }
</script>