<template lang="pug">
	.modal.fade#login-form
		.modal-dialog.modal-dialog-centered
			.modal-content
				.modal-body
					h3.mb-1 Login to your account
					.op-5.mb-5 Fill the form below to login to your account

					form(@submit.prevent="submit" novalidate)

						.form-group.mb-4
							input.form-control(type="email" placeholder="Email Address", v-model="form.data.email.value")
							.form-text.text-danger(v-if="form.data.email.errors") {{ getFirstError('email') }}

						.form-group
							input.form-control(type="password" placeholder="Password", v-model="form.data.password.value")
							.form-text.text-danger(v-if="form.data.password.errors") {{ getFirstError('password') }}

						.form-group.mb-5
							.custom-control.custom-checkbox
								input.custom-control-input(type="checkbox" name="" id="remember")
								label.custom-control-label(for="remember") Keep Me Logged In?

						.form-group(key="submit")
							button.btn.mr-2(type="submit", :class="{'btn-dark': isLight, 'btn-white': isDark}") Log me in
							button.btn(type="button", :class="{'btn-dark': isDark, 'btn-white': isLight}", data-dismiss="modal") Maybe Later

						.form-group.mb-5(key="alt")
							button.btn.btn-link.p-0(type="button", :class="{'text-dark': isLight, 'text-white': isDark}", @click.prevent="openSignUpForm")
								| Create your account!

</template>

<script>
	export default {
		data() {
			return {
				loading: false,
				form: this.$options.basicForm([
					{ name: 'email', rules: 'required|email' },
					{ name: 'password', rules: 'required' }
				])
			}
		},
		mounted() {
			this.$options.basicWatchers(this, 'form', this.$refs.form)
		},
		methods: {
			async submit() {
				if (!this.validateForm(this.form)) {
					return false;
				}

				this.loading = true;

				await this.$post({
					url: `${this.$baseurl}/login`,
					success() {

					},
					error: (error) => {
						this.form.error = error;
					}
				});

				this.loading = false;
			}
		}
	}
</script>