<template lang="pug">
    nav.navbar.navbar.navbar-expand(:class="navbarClass")
        .page-container
            router-link.navbar-brand(:to="{ name: 'home' }") WeirdCreative
            .navbar-collapse

                template(v-if="isSmallScreen")
                    .navbar-sidebar(:class="{ open: sidebarState === 'open' }")
                        form.navbar-form
                            .form-control-group.mb-4
                                .form-control-group-append
                                    .form-control-group-icon(v-feather="'search'")
                                input.form-control(type="search", placeholder="Search WC")
                        .nav.navbar-nav.flex-column.justify-content-end.align-items-end
                            li.nav-item: router-link.nav-link(:to="{ name: 'home' }") Home
                            li.nav-item: router-link.nav-link(:to="{ name: 'discover' }") Discover
                            li.nav-item: a.nav-link(href="#!") Following
                            li.nav-item: a.nav-link(href="#!") Freebies
                            li.nav-item: router-link.nav-link(:to="{ name: 'competitions' }") Competitions
                            li.nav-item: router-link.nav-link(:to="{ name: 'account-profile' }") Profile
                            li.nav-item: router-link.nav-link(:to="{ name: 'store' }") Store
                            li.nav-item: router-link.nav-link(:to="{ name: 'login' }") Login

                template(v-else)
                    .navbar-section-group.mx-auto
                        .navbar-section(:class="{ active: canShowNavigation }")
                            .nav.navbar-nav.mx-auto
                                li.nav-item: router-link.nav-link(:to="{ name: 'discover' }") Discover
                                li.nav-item: a.nav-link(href="#!") Following
                                li.nav-item: a.nav-link(href="#!") Freebies
                                li.nav-item: router-link.nav-link(:to="{ name: 'competitions' }") Competitions
                                li.nav-item: router-link.nav-link(:to="{ name: 'account-profile' }") Profile
                                li.nav-item: router-link.nav-link(:to="{ name: 'store' }") Store

                        .navbar-section(:class="{ active: canShowSearch }")
                            form.navbar-form
                                .form-control-group
                                    .form-control-group-append
                                        .form-control-group-icon(v-feather="'search'")
                                    input.form-control(type="search", placeholder="Search WC")

                .nav.navbar-nav(:class="isSmallScreen ? 'ml-auto' : ''")
                    li.nav-item
                        a.nav-link.nav-icon-link(href="javascript:", @click.prevent="toggleTheme")
                            feather(type="sun", v-if="style === 'dark'")
                            feather(type="moon", v-if="style === 'light'")

                    template(v-if="isSmallScreen")
                        li.nav-item(key="toggles-idebar"): a.nav-link.nav-icon-link(href="#!" @click.prevent="toggleSidebar"): span.navbar-link-icon(v-feather="'menu'")
                    template(v-else)
                        li.nav-item(key="toggles-earch"): a.nav-link.nav-icon-link(href="#!" @click.prevent="toggleSearch"): span.navbar-link-icon(v-feather="'search'")
                        li.nav-item: router-link.nav-link.nav-icon-link(:to="{ name: 'home' }"): span.navbar-link-icon(v-feather="'home'")
                        li.nav-item(v-if="loggedIn"): router-link.nav-link.nav-icon-link.navbar-profile-link(to="/"): span.navbar-link-icon
                        //- li.nav-item(v-else): a.nav-link(href="#!", @click.prevent="openLoginForm") Login
                        li.nav-item(v-else): router-link.nav-link(:to="{ name: 'login' }") Login
</template>

<script>
    import { mapActions } from "vuex";

    export default {
        data() {
            return {
                searching: false
            }
        },
        computed: {
            canShowNavigation() {
                return !this.canShowSearch;
            },
            canShowSearch() {
                return this.searching;
                // return this.isHome || this.searching;
            },
            isFixed() {
                return false;
            },
            isHome () {
                return this.$route.name.match(/^home$/i);
            },
            navbarClass() {
                return `${this.shouldBeTransparent ? 'navbar-dark' : this.style == 'dark' ? 'navbar-dark bg-dark' : 'navbar-light bg-white'} ${this.isFixed ? 'fixed-top' : ''}`;
            },
            shouldBeTransparent() {
                // return this.$route.name.match(/^account-profile$/i);
                return false;
            },
            sidebarState() {
                return this.$store.state.theme.sidebar;
            }
        },
        methods: {
            ...mapActions('theme', ['toggleTheme', 'toggleSidebar']),
            toggleSearch() {
                this.searching = !this.searching;
            }
        }
    }
</script>