<template lang="pug">
	.modal.fade#signup-form
		.modal-dialog.modal-dialog-centered
			.modal-content
				.modal-body
					h3.mb-1 Create your account
					.op-5.mb-5 Fill the form below to begin

					form(@submit.prevent="submit" novalidate ref="form")

						.form-group.mb-4
							input.form-control(type="text" placeholder="Full Name", v-model="form.data.name.value")
							.form-text.text-danger(v-if="form.data.name.errors") {{ getFirstError('name') }}

						.form-group.mb-4
							input.form-control(type="email" placeholder="Email Address", v-model="form.data.email.value")
							.form-text.text-danger(v-if="form.data.email.errors") {{ getFirstError('email') }}

						.form-group.mb-4
							input.form-control(type="password" placeholder="Password", v-model="form.data.password.value")
							.form-text.text-danger(v-if="form.data.password.errors") {{ getFirstError('password') }}

						.form-group.mb-5
							input.form-control(type="password" placeholder="Confirm Password", v-model="form.data.password_confirmation.value")
							.form-text.text-danger(v-if="form.data.password_confirmation.errors") {{ getFirstError('password_confirmation') }}

						.form-group(key="submit")
							button.btn.mr-2(type="submit", :class="{'btn-dark': !isDark, 'btn-white': isDark}") Gimme access
							button.btn(type="button", :class="{'btn-dark': isDark, 'btn-white': !isDark}", data-dismiss="modal") Maybe Later

						.form-group.mb-5(key="alt")
							button.btn.btn-link.p-0(type="button", :class="{'text-dark': isLight, 'text-white': isDark}", @click.prevent="openLoginForm")
								| Login Instead.

</template>

<script>
	export default {
		data() {
			return {
				loading: false,
				form: this.$options.basicForm([
					{ name: 'name', rules: 'required|name' },
					{ name: 'email', rules: 'required|email' },
					{ name: 'password', rules: 'required' },
					{ name: 'password_confirmation', rules: 'required|same:password' },
				], {})
			}
		},
		mounted() {
			this.$options.basicWatchers(this, 'form', this.$refs.form)
		},
		methods: {
			async submit() {
				if (!this.validateForm(this.form)) {
					return false;
				}

				this.loading = true;

				await this.$post({
					url: `${this.$baseurl}/register`,
					success() {

					},
					error: (error) => {
						this.form.error = error;
					}
				});

				this.loading = false;
			}
		}
	}
</script>