<template lang="pug">
    #competitions-single-page.page
        .banner.text-white.mb-7
            .banner-bg
                img.w-100(:src="competition.img", :alt="competition.name")
            .banner-content
                .page-container
                    .row
                        .col-md-6.d-flex.align-items-center
                            .w-100
                                .font-helvetica
                                    h4 #BlackWindow
                                    h1.display-5 Create visually inspiring train car artwork for Black Widow
                                button.btn.btn-white Participate
                        .col-auto.d-flex.align-items-center.ml-auto
                            .w-100.text-right.font-helvetica
                                h6 Submission open
                                .d-flex.flex-row.justify-content-end.align-items-end.border-bottom.mb-3.pb-3
                                    h1.display-4.mb-0.line-height-1 11
                                    span.line-height-2-2 Days
                                .d-flex.flex-row.justify-content-end.align-items-end.border-bottom.mb-3.pb-3
                                    h1.display-4.mb-0.line-height-1 20
                                    span.line-height-2-2 Hrs
                                .d-flex.flex-row.justify-content-end.align-items-end
                                    h1.display-4.mb-0.line-height-1 0
                                    span.line-height-2-2 Mins
        
        .container
            .row
                .col-xl-10.mx-auto
                    .text-center.mb-6
                        h1.font-helvetica.text-uppercase.mb-3 Artwork Submission
                        h5 This opportunity is open globally (except for citizens, nationals, or legal residents of Brazil, Crimea, Cuba, Iran, North Korea, Sudan, and Syria) to those who are at least 18 years of age and the age of majority at the time of entry. Void where prohibited by law.

                    .step
                        .square
                            

</template>

<script>
    export default {
        data() {
            return {
                calendar: require('@/assets/img/calendar.svg'),
                competition: {
                    img: require('@/assets/img/brands/black-widow.png'),
                    img2: require('@/assets/img/brands/black-widow2.svg'),
                    footer: require('@/assets/img/brands/black-widow-footer.svg'),
                    name: 'Black Widow',
                }
            }
        }
    }
</script>