<template lang="pug">
	#brands-page.page
		.page-container
			.text-center.mb-5
				h2.font-weight-900.font-helvetica.line-height-1(v-if="isSmallScreen") Brands X You
				h1.display-4.font-weight-900.font-helvetica.line-height-1.text-uppercase(v-else) Brands X You
				p.font-roboto.font-weight-light.line-height-1 Flex your skills collaborating with top brands

			.brand-group
				.row
					template(v-for="(brand, n) in brands")
						.col-md-6
							.brand
								.brand-image
									img(:src="brand.img")
								.brand-body
									router-link.brand-name(:to="{ name: 'competitions-single', params: { competitionId: brand.id } }") {{ brand.name }}
									.brand-title {{ brand.title }}
									.brand-status.text-success
										span.square.square-xs.rounded-pill.mr-2(style="background-color: #00ED34;")
										span.text {{ brand.status }}
									.brand-expiry {{ brand.expiry }}
									.brand-description {{ brand.description }}

</template>

<script>
	export default {
		data() {
			return {
				brands: [
					{
						id: 1,
						img: require('@/assets/img/brands/black-widow.png'),
						name: 'Black Widow',
						title: 'Marvel Studios',
						status: 'Open for submissions',
						expiry: '30 Days remaining',
						description: 'At birth the Black Widow (aka Natasha Romanova) is given to the KGB, which grooms her to become its ultimate operative. When the U.S.S.R. breaks up, the government tries to kill her as the action moves to present-day New York, where she is a freelance operative.'
					},
					{
						id: 2,
						img: require('@/assets/img/brands/maleficent.png'),
						name: 'Maleficent',
						title: 'Marvel Studios',
						status: 'Open for submissions',
						expiry: '30 Days remaining',
						description: 'At birth the Black Widow (aka Natasha Romanova) is given to the KGB, which grooms her to become its ultimate operative. When the U.S.S.R. breaks up, the government tries to kill her as the action moves to present-day New York, where she is a freelance operative.'
					},
					{
						id: 3,
						img: require('@/assets/img/brands/007-no-time-to-die.png'),
						name: '007 No Time To Die',
						title: 'Marvel Studios',
						status: 'Open for submissions',
						expiry: '30 Days remaining',
						description: 'At birth the Black Widow (aka Natasha Romanova) is given to the KGB, which grooms her to become its ultimate operative. When the U.S.S.R. breaks up, the government tries to kill her as the action moves to present-day New York, where she is a freelance operative.'
					},
					{
						id: 4,
						img: require('@/assets/img/brands/the-kings-man-3.png'),
						name: 'The King’s Man III',
						title: 'Marvel Studios',
						status: 'Open for submissions',
						expiry: '30 Days remaining',
						description: 'At birth the Black Widow (aka Natasha Romanova) is given to the KGB, which grooms her to become its ultimate operative. When the U.S.S.R. breaks up, the government tries to kill her as the action moves to present-day New York, where she is a freelance operative.'
					},
				]
			}
		}
	}
</script>