<template lang="pug">
	#about-page.page
		.page-container
			h2.font-helvetica.font-weight-900.mb-0.line-height-1 About
			.text-center
				.row
					.col-md-8.col-xl-7.mx-auto
						img(:src="aboutImg", alt="Weird Creatives", height="300", width="300")
						p.h5.mb-4
							| weirdcreative is a collective group
							| of Amazing , dedicated creative community of people.
							| We connect people, brands and ideas  to achieve a common creative
							| spectrum of energy.


						p.h5.mb-5
							| A set a creatives sat toogether to build a safe interactive remption virtual space for
							| the weirdos,creative outcast and rebel, brand s. Headed by Nigerian mulitdispliany artist
							| Dami Adebayo is bring ing  creatives together streched from the shores of  Africa to Europe

						ul.nav.justify-content-between
							li.nav-item: a(href="javascript:").nav-link.h5.font-weight-900.font-helvetica.text-muted Creative Invites
							li.nav-item: a(href="javascript:").nav-link.h5.font-weight-900.font-helvetica.text-muted Freebies
							li.nav-item: a(href="javascript:").nav-link.h5.font-weight-900.font-helvetica.text-muted Editorial
							li.nav-item: a(href="javascript:").nav-link.h5.font-weight-900.font-helvetica.text-muted Contact
</template>

<script>
	export default {
		data() {
			return {
				aboutImg: require('../../assets/img/about-x-2.png')
			}
		}
	}
</script>