<template lang="pug">
	#contact-page.page
		.page-container
			h2.font-helvetica.font-weight-900.mb-0.line-height-1 Contact
			.text-center
				.row
					.col-md-8.col-xl-6.mx-auto
						img.mb-2(:src="aboutImg", alt="Weird Creatives", height="150", width="150")
						h2.font-helvetica.font-weight-900.mb-4.line-height-1 Get Absorbed
						p.h5.mb-4
							| Brands have benefited from our highly effective 
							| open source approach. Fill out the form to learn more about
							| what Weirdcreatives can do for your business or send an email 
							| to business@weirdcreative.com


						p.h5.font-helvetica.font-weight-900.mb-5 Business Inquiries
						form.form
							.row
								.col-md-6
									.form-group.mb-4
										input.form-control(placeholder="Name")
								.col-md-6
									.form-group.mb-4
										input.form-control(placeholder="Business name")
							.row
								.col-md-6
									.form-group.mb-4
										input.form-control(placeholder="Business email")
								.col-md-6
									.form-group.mb-4
										input.form-control(placeholder="Bussiness Phone")

							.form-group.mb-5
								textarea.form-control(rows="10", placeholder="Message")

							.form-group.text-center
								button.btn.rounded-pill(type="submit", :class="{'btn-dark': !isDark, 'btn-white': isDark}") Submit
</template>

<script>
	export default {
		data() {
			return {
				aboutImg: require('../../assets/img/contact-x-2.png')
			}
		}
	}
</script>