<template lang="pug">
	#home-alt
		.banner
			.banner-content
				.row
					.col-md-5.mx-auto
						.text-center
							h1.font-weight-900.font-helvetica.line-height-0-9(v-if="isSmallScreen") THE WEIRD CREATIVE’S NETWORK
							h1.font-weight-900.font-helvetica.line-height-0-9(v-else) THE WEIRDCREATIVE’S NETWORK
							p Built by Creatives for Creatives
							p
								router-link.btn.btn-outline-white.rounded-0.mr-md-4.mb-4.mb-md-0(:to="{name: 'discover'}") Explore
								br(v-if="isSmallScreen")
								a.btn.btn-outline-white.rounded-0(href="#!", @click.prevent="openSignUpForm") Sign Up
</template>