<template>
    <div id="app" :class="{'overflow-hidden': showSidebar}">
        <router-view />

        <login></login>
        <sign-up></sign-up>

    </div>
</template>

<script>
	export default {
		components: {
			Login: require('@/components/Login.vue').default,
			SignUp: require('@/components/SignUp.vue').default
		},
        computed: {
            showSidebar() {
                return this.$store.state.theme.sidebar === 'open';
            }
        }
	}
</script>