<template lang="pug">
    form
        h3.mb-1.font-helvetica Sign in
        .mb-5
            | New user? 
            router-link(:to="{ name: 'register' }") Create account

        form(@submit.prevent="submit" novalidate)

            .form-group.mb-4
                label Email Address
                input.form-control.form-control-flat(type="email", v-model="form.data.email.value")
                .form-text.text-danger(v-if="form.data.email.errors") {{ getFirstError('email') }}

            .form-group.mb-4
                label Password
                input.form-control.form-control-flat(type="password", v-model="form.data.password.value")
                .form-text.text-danger(v-if="form.data.password.errors") {{ getFirstError('password') }}

            .form-group.text-center(key="submit")
                button.btn.rounded-pill(type="submit", :class="{'btn-dark': isLight, 'btn-white': isDark}") Sign in

            .mb-3.op-3.text-center Or

            .row.mb-3
                .col-md-10.col-xl-8.mx-auto
                    .btn.btn-social.btn-outline-dark.w-100.rounded-pill.mb-2
                        img.mr-3(:src="google", height="15")
                        span Continue with Google
                    .btn.btn-social.btn-primary.w-100.rounded-pill.mb-2
                        img.mr-3(:src="facebook", height="15")
                        span Continue with Facebook
                    .btn.btn-social.btn-dark.w-100.rounded-pill.mb-2
                        img.mr-3(:src="apple", height="15")
                        span Continue with Apple

            .small.text-center
                .small
                    span.op-3 Protected by reCaptcha and subjected to Google’s 
                    router-link(:to="{ name: 'privacy' }") Privacy Policy 
                    span.op-3 and 
                    router-link(:to="{ name: 'terms' }") Terms of Service

</template>

<script>
    export default {
        data() {
            return {
                loading: false,
                form: this.$options.basicForm([
                    { name: 'email', rules: 'required|email' },
                    { name: 'password', rules: 'required' }
                ]),
                google: require('@/assets/img/social/google.png'),
                facebook: require('@/assets/img/social/facebook.png'),
                apple: require('@/assets/img/social/apple.png'),
            }
        },
        mounted() {
            this.$options.basicWatchers(this, 'form', this.$refs.form)
        },
        methods: {
            async submit() {
                if (!this.validateForm(this.form)) {
                    return false;
                }

                this.loading = true;

                await this.$post({
                    url: `${this.$baseurl}/login`,
                    success() {

                    },
                    error: (error) => {
                        this.form.error = error;
                    }
                });

                this.loading = false;
            }
        }
    }
</script>