<template lang="pug">
    form
        h3.mb-1.font-helvetica Create an account
        .mb-5
            | Already have an account? 
            router-link(:to="{ name: 'login' }") Sign in

        form(@submit.prevent="submit" novalidate)

            .form-group.mb-4
                label Email Address
                input.form-control.form-control-flat(type="email", v-model="form.data.email.value")
                .form-text.text-danger(v-if="form.data.email.errors") {{ getFirstError('email') }}

            .row
                .col-md-6
                    .form-group.mb-4
                        label First name
                        input.form-control.form-control-flat(type="first_name", v-model="form.data.first_name.value")
                        .form-text.text-danger(v-if="form.data.first_name.errors") {{ getFirstError('first_name') }}
                .col-md-6
                    .form-group.mb-4
                        label Last name
                        input.form-control.form-control-flat(type="last_name", v-model="form.data.last_name.value")
                        .form-text.text-danger(v-if="form.data.last_name.errors") {{ getFirstError('last_name') }}

            .form-group.mb-4
                label Password
                input.form-control.form-control-flat(type="password", v-model="form.data.password.value")
                .form-text.text-danger(v-if="form.data.password.errors") {{ getFirstError('password') }}

            .mb-4
                label Date of birth
                .row
                    .col-md-4
                        .form-group
                            label Month
                            select.custom-select.form-control-flat(v-model="form.data.month.value")
                                template(v-for="(month, n) in months")
                                    option(:value="month.value", :key="n") {{ month.title }}
                            .form-text.text-danger(v-if="form.data.month.errors") {{ getFirstError('month') }}
                    .col-md-4
                        .form-group
                            label Day
                            select.custom-select.form-control-flat(v-model="form.data.day.value")
                                template(v-for="(day, n) in days")
                                    option(:key="n") {{ day }}
                            .form-text.text-danger(v-if="form.data.day.errors") {{ getFirstError('day') }}
                    .col-md-4
                        .form-group
                            label Year
                            select.custom-select.form-control-flat(v-model="form.data.year.value")
                                template(v-for="(year, n) in years")
                                    option(:key="n") {{ year }}
                            .form-text.text-danger(v-if="form.data.year.errors") {{ getFirstError('year') }}


            .form-group.mb-4
                label Country / Region
                select.custom-select.form-control-flat(v-model="form.data.country.value")
                    template(v-for="(country, n) in countries")
                        option(:value="country.code", :key="n") {{ country.name }}
                .form-text.text-danger(v-if="form.data.country.errors") {{ getFirstError('country') }}

            .small.text-center.mb-4
                .small
                    span.op-3 By clicking Create account, I agree that I have read and accepted the 
                    router-link(:to="{ name: 'terms' }") Terms of Use 
                    span.op-3 and 
                    router-link(:to="{ name: 'privacy' }") Privacy Policy.

            .form-group.text-right(key="submit")
                button.btn.rounded-pill(type="submit", :class="{'btn-dark': isLight, 'btn-white': isDark}") Create account

</template>

<script>
    import { mapState } from 'vuex';

    const day = (new Date).getDate();
    const month = (new Date).getMonth() + 1;
    const year = (new Date).getFullYear();
    export default {
        data() {
            return {
                loading: false,
                form: this.$options.basicForm([
                    { name: 'first_name', rules: 'required|name' },
                    { name: 'last_name', rules: 'required|name' },
                    { name: 'email', rules: 'required|email' },
                    { name: 'password', rules: 'required' },
                    { name: 'password_confirmation', rules: 'required|same:password' },
                    { name: 'day', rules: 'required', value: day },
                    { name: 'month', rules: 'required', value: month },
                    { name: 'year', value: year },
                    { name: 'country', value: '' },
                ]),
                google: require('@/assets/img/social/google.png'),
                facebook: require('@/assets/img/social/facebook.png'),
                apple: require('@/assets/img/social/apple.png'),
            }
        },
        computed: {
            ...mapState('resources', ['countries']),
            days() {
                switch (this.form.data.month.value) {
                    case 4:
                    case 6:
                    case 9:
                    case 11:
                        return 30;
                    case 2:
                        return 28;
                    default:
                        return 31;
                }
            },
            months() {
                return [
                    {title: 'january', value: 1},
                    {title: 'february', value: 2},
                    {title: 'march', value: 3},
                    {title: 'april', value: 4},
                    {title: 'may', value: 5},
                    {title: 'june', value: 6},
                    {title: 'july', value: 7},
                    {title: 'august', value: 8},
                    {title: 'september', value: 9},
                    {title: 'october', value: 10},
                    {title: 'november', value: 11},
                    {title: 'december', value: 12},
                ];
            },
            years() {
                const years = [];

                for (var i = 0; i < 100; i++) {
                    years.push(year - i);
                }

                return years;
            }
        },
        mounted() {
            this.$options.basicWatchers(this, 'form', this.$refs.form)
            this.getLocation();
        },
        methods: {
            async getLocation() {
                var { response } = await this.$get({
                    url: `https://ipinfo.io`
                });

                if (response) {
                    const country = response.data.country;
                    this.form.data.country.value = country || '';
                }

                this.loading = false;
            },
            async submit() {
                if (!this.validateForm(this.form)) {
                    return false;
                }

                this.loading = true;

                await this.$post({
                    url: `${this.$baseurl}/login`,
                    success() {

                    },
                    error: (error) => {
                        this.form.error = error;
                    }
                });

                this.loading = false;
            }
        }
    }
</script>