body
	overflow: hidden
	transition: $transition
	&.dark-theme
		background: $dark
		color: $white

#app
	height: 100vh
	overflow-y: scroll
	.overflow-hidden &
		overflow: hidden !important

.row
	[class^=col]
		@media (max-width: 767px)
			padding-left: 10px
			padding-right: 10px

.navbar
	transition: $transition
	margin-bottom: 20px
	&-brand
		font-family: Roboto
		font-weight: 900
		text-transform: uppercase
		@media (min-width: 768px)
			font-size: $h5-font-size

	.page-container
		@extend .container

	&-nav
		align-items: center
		.nav
			&-icon-link.nav-link
				padding-left: $nav-link-padding-x
				padding-right: $nav-link-padding-x

	&-section
		@media (min-width: 768px)
			transition: $transition
			opacity: 0
			position: absolute
			top: 50%
			transform: translateY(-100px)
			visibility: hidden
			&:nth-child(1)
				align-items: center
				display: flex
				flex-flow: row
				left: 0
				right: 0
				width: 100%
			&:nth-child(2)
				right: 0
			&.active
				opacity: 1
				transform: translateY(-50%)
				visibility: visible
			&-group
				flex-basis: 1
				flex-grow: 1
				height: calc(70px - .5rem)
				position: relative

	@media (max-width: 767px)
		height: 75px
		&-sidebar
			background: #fff
			height: 100%
			right: 0
			max-width: 400px
			padding: 0px 30px
			position: fixed
			top: 75px
			transform: translate(100%)
			transition: $transition
			width: 100%
			z-index: 10000
			.dark-theme &
				background: $dark
			&.open
				transform: translate(0)

	&-profile
		&-link
			.navbar-link-icon
				background: $secondary
				border-radius: 999px
				display: block
				height: 30px
				width: 30px
	&-light
		.navbar
			&-nav
				.nav
					&-link
						color: #ccc
						&.active
							color: #000
					&-icon-link
						color: #000
	&-dark
		color: #fff
		.navbar
			&-nav
				.nav
					&-link
						color: #CCC
						&.active
							color: #fff
					&-icon-link
						color: #fff
	&.bottom-navbar
		box-shadow: 0 -10px 10px rgba(#000, .03)
		margin-bottom: 0 !important
		.nav-link
			font-size: .75rem
			font-weight: 300




.form
	&-control
		transition: $transition
		&::placeholder
			color: inherit
			opacity: .2
		.dark-theme &
			background-color: transparent
			color: #fff
			border-color: #fff
		&-flat
			border: none
			border-bottom: $input-border-width solid $input-border-color
			border-radius: 0
			height: calc(#{$input-height} - #{$input-padding-y})
			padding-left: 0
			padding-right: 0
			padding-top: 0
			&:focus
				box-shadow: 0 .2rem 0 rgba(0, 123, 255, 0.25)
	&-text
		font-size: .75rem

.custom
	&-select
		.dark-theme &
			background-color: transparent
			color: #fff
			border-color: #fff
	&-control
		&-label
			&:before
				.dark-theme &
					background-color: transparent
					border-color: #fff

	&-tags
		@extend .form-control
		height: auto
		padding-bottom: calc(#{$input-padding-y} - 10px)
		min-height: $input-height
		.tags
			display: inline-block
			.tag
				cursor: pointer
		&-input
			background-color: transparent
			border: none
			display: inline-block
			padding: 0
			font-size: $input-font-size
			.dark-theme &
				color: #fff
			&:focus
				outline: none


.tag
	align-items: center
	border-radius: $btn-border-radius-sm
	display: inline-flex
	font-size:  $btn-font-size-sm * .75
	margin-bottom: 10px
	margin-right: 10px
	padding: $btn-padding-y-sm $btn-padding-x-sm
	@each $color, $value in $theme-colors
	  &-#{$color}
	    @include button-variant($value, $value)

	@each $color, $value in $theme-colors
	  &-outline-#{$color}
	    @include button-outline-variant($value)


.btn
	line-height: 1.6
	transition: .5s
	&-xl
		font-size: 2rem
		padding: 1rem 6rem
	&-social
		align-items: center
		display: inline-flex
		padding-left: 70px
		text-align: left
	&-outline-white
		&:hover
			color: #000 !important

.modal
	&-content
		color: $body-color
		.dark-theme &
			background-color: $dark
			color: #fff
	&-body
		padding: 4rem 3rem

.card
	.dark-theme &
		background-color: $dark
		color: #fff
	&-body
		padding: 4rem 3rem

.form-control-group
	align-items: center
	border-radius: 999px
	border: 1px solid
	color: inherit
	display: flex
	flex-flow: row
	flex-wrap: nowrap
	padding-left: $input-padding-x
	width: 100%
	&-icon
		background-color: transparent
		font-size: 12px
		height: 20px
		width: 30px
	.form-control
		background-color: transparent
		border: none
		color: inherit
		font-size: $input-font-size * .75
		flex-grow: 1
		height: calc(1.5rem + #{$input-padding-y} + #{$input-border-width * 2})
		padding: ($input-padding-y * .75) $input-padding-x
		&:focus
			box-shadow: none
textarea.form-control
	height: 150px

.display
	&-5
		font-size: 2.75rem
	&-6
		font-size: 2.5rem
	&-7
		font-size: 2rem

.font
	&-roboto
		font-family: Roboto
	&-helvetica
		font-family: Helvetica Black, Helvetica Neue, helvetica
	&-size
		&-small
			font-size: .75rem
	&-weight
		@for $i from 1 through 9
			&-#{$i*100}
				font-weight: $i*100
.line-height
	@for $i from 0 through 2
		@for $j from 1 through 10
			@if $j == 10
				&-#{$i}
					line-height: $i
			@else
				&-#{$i}-#{$j}
					line-height: unquote("#{$i}.#{$j}")

.op
	@for $i from 0 through 10
		&-#{$i}
			opacity: $i / 10

.mb
	&-6
		margin-bottom: 4rem
	&-7
		margin-bottom: 6rem


.square
	display: inline-block
	height: 50px
	width: 50px
	&-dynamic
		padding-bottom: 100%
	&-xs
		height: 10px
		width: 10px

.avatar
	align-items: center
	display: flex
	height: 240px
	justify-content: center
	width: 240px
	&-md
		height: 80px
		width: 80px
	img
		max-height: 100%
		max-width: 100%

.banner
	align-items: center
	display: flex
	flex-flow: column
	height: 100vh
	justify-content: center
	padding: 15px
	position: relative
	&-bg
		height: 100%
		left: 0
		position: absolute
		top: 0
		width: 100%
		&:before,
		&:after
			content: ''
			display: block
			height: 100%
			left: 0
			position: absolute
			top: 0
			width: 100%
		&:after
			background: rgba(#000, .8)
			z-index: 10
	&-content
		position: relative
		width: 100%
		z-index: 20
	#home &
		height: auto
		padding: 0
	#home-alt &
		color: #fff
		.banner
			&-content
				padding-top: 100px
				@media (max-width: 768px)
					padding-top: 150px
			&-bg
				&:before
					background-image: url('../img/alien.png')
					background-position: center
					background-size: cover
					z-index: 1
				&:after
					@media (max-width: 767px)
						background: linear-gradient(to bottom, rgba(#000, .7), rgba(#000, .3))
	#competitions-single-page &
		height: 416px
		.banner-bg
			&:after
				background: rgba(#000, .4)
			img
				height: 100%
				object-fit: cover
				object-position: top
				width: 100%

				
	#account-profile &
		padding-top: 75px
		padding-bottom: 50px
		.banner-bg
			&:before
				background-image: url('../img/bike-boat.png')
				background-size: cover
				z-index: 1

		.profile
			&-website,
			&-location,
			&-social
				position: absolute
				z-index: 1000
			&-website
				bottom: 20px
				left: 20px
			&-location
				bottom: 20px
				right: 20px
			&-social
				left: 20px
				top: 20px

	#account-update &
		height: 50vh
		.banner-bg
			&:before
				background-image: url('../img/bike-boat.png')
				background-size: cover
				z-index: 1


#auth-pages
	background-image: url('../img/alien.png')
	background-size: 100%
	background-position: 0 60%
	height: 100vh
	overflow-y: auto
	padding: 50px 0

.page
	min-height: 100vh
	padding: 0rem 0 80px
	position: relative
	&-section
		margin-bottom: 10rem
	&-container
		min-height: 1px
		margin: auto
		max-width: 1200px
		padding: 0px 15px


.discover
	&-gallery
		&-item
			background: $secondary
			border-radius: 10px
			padding-bottom: 100%
			margin-bottom: 30px
			position: relative
			width: 100%
			&-image
				border-radius: 10px
				height: 100%
				left: 0
				object-fit: cover
				object-position: center
				position: absolute
				top: 0
				width: 100%
			&-content
				align-items: center
				display: flex
				flex-flow: column
				height: 100%
				justify-content: center
				left: 0
				padding: 15px
				position: absolute
				text-align: center
				top: 0
				width: 100%
			&-caption
				color: #fff
				margin-bottom: 10px
			// &-button


.categories
	display: block
	overflow-x: auto
	padding-bottom: 30px
	white-space: nowrap
.category
	align-items: center
	background: $secondary
	border-radius: 1rem
	color: #fff
	cursor: pointer
	display: inline-flex
	height: 75px
	justify-content: center
	margin-right: 30px
	padding: 15px
	position: relative
	width: 200px
	&-image
		border-radius: 1rem
		height: 100%
		left: 0
		object-fit: cover
		object-position: center
		position: absolute
		top: 0
		width: 100%
		z-index: 0
	&-title
		position: relative
		z-index: 10
	&:hover
		text-decoration: none !important

.post
	display: flex
	flex-flow: column
	margin-bottom: 60px
	// @media (max-width: 767px)
		// font-size: .65rem
	&-header
		align-items: center
		display: flex
		flex-flow: row
		height: 50px
		&-avatar
			background: $gray-400
			border-radius: 999px
			flex: 0 0 30px
			height: 30px
			margin-right: 15px
			width: 30px
			@media (max-width: 767px)
				height: 30px
				flex: 0 0 30px
				margin-right: 5px
				width: 30px
		&-text
			flex-grow: 1
			font-weight: 100
			font-size: .75rem
		&-icon
			cursor: pointer
			span, svg
				font-size: 15px
				flex: 0 0 15px
				width: 15px
			@media (max-width: 767px)
				.icon
					flex: 0 0 20px
					height: 20px
					width: 20px
	&-image
		background: $secondary
		border-radius: 30px
		overflow: hidden
		padding-top: 120%
		position: relative
		width: 100%
		img
			height: 100%
			left: 0
			object-fit: cover
			object-position: center
			position: absolute
			top: 0
			width: 100%
	&-title
		padding: 15px 0
	&-footer
		align-items: center
		display: flex
		justify-content: space-between
		height: 40px
	&-meta
		color: inherit
		display: block
		&-dark
			background: $dark
			border-radius: .5rem
			color: #fff
			padding: .1rem .4rem
			&:hover
				color: #fff
		&-icon
			display: inline-block
			height: 14px
			margin-right: 5px
			width: 14px
			@media (max-width: 767px)
				height: 14px
		&-value
			display: inline-block
			font-size: .75rem
			// @media (max-width: 767px)
				// font-size: 10px


a.category
	color: #fff
	&:hover
		color: #fff





.brand
	background: #F3F3F3
	color: inherit
	display: flex
	font-size: .8rem
	flex-flow: column
	margin-bottom: 60px
	min-height: 600px
	transition: $transition
	.dark-theme &
		background: $gray-700
		// color: $dark
	@media (max-width: 767px)
		min-height: initial
	&-image
		// background: $secondary
		background: #F3F3F3
		padding-top: 50%
		position: relative
		width: 100%
		img
			border-radius: 10px
			height: 100%
			left: 0
			object-fit: cover
			object-position: center
			position: absolute
			top: 0
			width: 100%
	&-body
		flex-basis: 0
		flex-grow: 1
		padding: 15px 15px 60px
	&-name
		color: inherit
		font-family: Helvetica Neue
		font-size: $h2-font-size
		font-weight: 900
		line-height: 1.2
		&:hover
			text-decoration: none
	&-title
		margin-bottom: 1rem
	// &-status
	&-expiry
		color: $gray-400
		font-size: .75rem
		margin-bottom: 30px
	&-footer
		padding: 0 15px 15px
		text-align: right


#account
	&-profile
		padding-top: 0
		padding-bottom: 0
		.profile
			&-action
				.icon
					cursor: pointer
					height: 40px
					width: 40px


.shop
	&-item
		font-size: 20px
		margin-bottom: 60px
		&-image
			background: $secondary
			border-radius: 30px
			margin-bottom: 15px
			overflow: hidden
			padding-top: 120%
			position: relative
			width: 100%
			img
				height: 100%
				left: 0
				object-fit: cover
				object-position: center
				position: absolute
				top: 0
				width: 100%
		&-body
			display: flex
			flex-flow: row
		&-name
			flex-grow: 1
		&-price
			flex: 0 0 auto


.dashboard-nav
	font-family: Helvetica
	justify-content: space-between
	.nav-link
		color: #000
		font-size: 2rem
		font-weight: 900
		opacity: .3
		padding: 0
		&.active
			opacity: 1

.post-grid
	&:after
		content: ''
		clear: both
		display: table
	[class^=col]
		float: left
		padding-bottom: $grid-gutter-width / 2
		padding-top: $grid-gutter-width / 2

	&-post
		background: $dark
		position: relative
		&-image
			height: 100%
			left: 0
			position: absolute
			top: 0
			width: 100%
			img
				height: 100%
				object-fit: cover
				object-position: center
				width: 100%
		&-content
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.25%, rgba(0, 0, 0, 0.2) 65.95%)
			color: #fff
			display: flex
			flex-flow: column
			font-family: helvetica
			height: 100%
			padding: 30px
			position: relative
			z-index: 1
		&-description
			max-width: 40%
			word-break: break-word
		&-title
			font-size: 4vw
			font-weight: 900
			line-height: 1.05
		&-author
			font-size: 1.5vw
			font-weight: 900
			line-height: 1.05
		&-meta
			align-items: center
			display: flex
			flex-flow: row
			margin-top: auto
			&-link
				align-items: center
				cursor: pointer
				flex: 0 0 70px
				display: flex
				justify-content: center
				&-outline
					border-radius: $btn-border-radius-sm
					border: 1px solid
					font-size: $btn-font-size-sm * .75
					padding: $btn-padding-y-sm $btn-padding-x-sm
					svg
						width: 15px
	@each $size, $value in $post-grid
		.w-#{$size}
			flex: 0 0 unquote('#{$value* 1}%')
			width: unquote('#{$value* 1}%')
	@for $i from 1 through 5
		.post-height-#{$i}
			@if $i == 1
				height: $post-height * $i
			@else
				height: ($post-height * $i) + $grid-gutter-width


.col-md-2\/10
	@extend .col
	flex: 0 0 20%
	width: 20%

.nav-tabs
	border: none
	.nav
		&-item
			padding: 0 $nav-link-padding-x/2
		&-link
			border: none
			background: none
			color: #000
			opacity: .4
			padding-bottom: 2px
			padding-left: 5px
			padding-right: 5px
			&.active
				border-bottom: 1px solid
				opacity: 1

.table-lg
	th
		font-size: 1.5rem
		vertical-align: middle
	td
		font-size: 5rem
		line-height: 1
		padding-top: 2rem
		padding-bottom: 2rem
		vertical-align: middle
	tbody
		tr
			border-bottom: 1px solid

.square
	&-lg
		height: 200px
		width: 200px
	&-xl
		height: 400px
		width: 400px

.cursor-pointer
	cursor: pointer
	

.min-h-100
	min-height: 100%
.min-w-100
	min-width: 100%

.article
	font-size: 1.3rem
	p
		margin-bottom: 3rem
		&:last-child
			margin-bottom: 0
	&-sm
		font-size: 1.15rem
		p
			margin-bottom: 1rem
			&:last-child
				margin-bottom: 0