$green: #00C42B;
$dark: #222;
$text-muted: #A9A9A9;


$theme-colors: (
    'white': #fff,
	'black': #000,
);

$font-family-base: Anjasmoro;

$border-radius: .5rem;

$input-border-color: #000;
$input-font-size: .9rem;
$input-padding-y: .6rem;

$btn-font-size: .80rem;
$btn-padding-x: 2rem;
$btn-padding-y: .6rem;

$custom-control-indicator-border-color: $dark;
$custom-control-indicator-size: 1.25rem;
$custom-checkbox-indicator-border-radius: .35rem;

$grid-gutter-width: 20px;

$transition: .5s;

$post-grid: (
    '1\\/10': 100/1,
    '2\\/10': 100/2,
    '3\\/10': 100/3,
    '4\\/10': 100/4,
    '5\\/10': 100/5,
    '6\\/10': 100/6,
    '7\\/10': 100/7,
    '8\\/10': 100/8,
    '9\\/10': 100/9,
    '10\\/10': 100,
);

$post-height: 400px;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1190px
) !default;